<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Seleccione lo que quiere hacer
		</h3>
	</div>
	<div class="panel-body">
		<a href="{% url 'nuevo_vehiculo' %}">Cargar un Vehiculo</a><br>
		<a href="{% url 'cargar_trabajo' %}">Cargar trabajo</a><br>
		<a href="{% url 'ver_trabajos' %}">Ver trabajos pendientes</a><br>
		<a href="{% url 'ver_ultimos_entregados' %}">Ver Ultimos trabajos entregados</a><br>
		<a href="{% url 'ver_clientes' %}">Ver listado de clientes</a>

	</div>
</div>