{% extends 'index.html' %}
{% block cuerpo %}
<div>
	<h2>Finalizar trabajo Nro. {{ trabajo.id }}</h2><hr>
		<ul>
			<li>
				<p class="text-left text-muted lead"><b>Cliente: </b> {{ cliente.nombre|capfirst }}</p>
			</li>
			<li>
				<p class="text-left text-muted lead"><b>Vehiculo: </b> {{ trabajo.vehiculo.modelo_marca }} - {{ trabajo.vehiculo.patente }}</p>
			</li>
			<li>
				<p class="text-left text-muted lead"><b>Fecha Recibido: </b> {{ trabajo.fecha_ingreso }}</p>
			</li>
		</ul>
	<hr>
	<form id="form_finalizar_trabajo" role="form" method="POST" action="{% url 'finaliza' trabajo.id %}">{% csrf_token %}
		<div class="form-group">
			<label for="id_fecha_entrega">Fecha Finalizado</label>
			{{ form.fecha_entrega }}
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">
				Trabajo Realizado
			</label>
			{{ form.descripcion }}
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">
				Precio
			</label>
			{{ form.precio }}<script type="text/javascript">  </script>
		</div>
		<div class="pull-right">
		<button type="submit" class="btn btn-success btn-sm">
			<i class="glyphicon glyphicon-save"></i> Guardar
		</button>
		<a href="{% url 'ver_trabajos' %}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
		</div>
		{{ form.vehiculo }} 
		{{ form.fecha_ingreso }}
		<script type="text/javascript"> 
			$("#id_vehiculo").hide();
			$("#id_precio").removeAttr("disabled");
			$("#id_fecha_ingreso").hide();
			$("#id_fecha_entrega").attr('required','required');
		 </script>
	</form>
</div>
{% endblock cuerpo %}