{% extends 'index.html' %}

{% block cuerpo %}
		<h2>Cargar Nuevo trabajo</h2><hr>
		<form role="form" method="POST" action="{% url 'cargar_trabajo_save' %}">{% csrf_token %}
				{{ trabajo.as_p }}
				<script type="text/javascript">
								$("#id_fecha_ingreso").datepicker({
							      changeMonth: true,
							      changeYear: true,
							      dateFormat: 'dd/mm/yy' 
							    });
							    $("#id_fecha_entrega").val('');
							    $("#id_fecha_entrega").attr('disabled','disabled');
							</script>
				<button type="submit" class="btn btn-success pull-right">
					Guardar
				</button>
			</form>

{% endblock cuerpo %}