{% extends 'index.html' %}
{% block cuerpo %}
	<h2>Listado Ultimos trabajos entregados </h2><hr>
<table class="table table-condensed table-hover" id="id_tbl-entregados">
	<thead>
		<tr>
			<th>
				Vehiculo
			</th>
			<th>
				Fecha Ingreso
			</th>
			<th>
				Trabajo
			</th>
			<th>
				Acciones
			</th>
		</tr>
	</thead>
	<tbody>
		{% for elemento in listado %}
		<tr>
			<td>
				{{ elemento.vehiculo }}
			</td>
			<td>
				{{ elemento.fecha_ingreso }}
			</td>
			<td>
				{{ elemento.descripcion }}
			</td>
			<td>
				<a href="{% url 'detalle_trabajo' elemento.id %}"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock cuerpo %}