{% extends 'index.html' %}
{% block cuerpo %}
<h2>Listado de trabajos ingresados</h2><hr>
<table class="table table-condensed table-hover" id="id_tbl-trabajos">
	<thead>
		<tr>
			<th>
				Vehiculo
			</th>
			<th>
				Fecha Ingreso
			</th>
			<th>
				Trabajo
			</th>
			<th>
				Acciones
			</th>
		</tr>
	</thead>
	<tbody>
		{% for elemento in listado %}
		<tr>
			<td>
				{{ elemento.vehiculo }}
			</td>
			<td>
				{{ elemento.fecha_ingreso }}
			</td>
			<td>
				{{ elemento.descripcion }}
			</td>
			<td>
				<a href="{% url 'editar_trabajo' elemento.id %}"><i class="glyphicon glyphicon-edit"></i> Editar </a> <a href="{% url 'finalizar_trabajo' elemento.id %}"><i class="glyphicon glyphicon-ok"></i> Finalizar</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock cuerpo %}