{% extends 'index.html' %}
{% block cuerpo %}
	<h2>Listado de clientes </h2><hr>
<table class="table table-condensed table-hover" id="id_tbl-clientes">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Telefono
			</th>
			<th>
				Direccion
			</th>
			<th>
				Acciones
			</th>
		</tr>
	</thead>
	<tbody>
		{% for elemento in listado %}
		<tr>
			<td>
				{{ elemento.nombre }}
			</td>
			<td>
				{{ elemento.telefono_numero }}
			</td>
			<td>
				{{ elemento.direccion }}
			</td>
			<td>
				<a href="{% url 'editar_cliente' elemento.id %}"><i class="glyphicon glyphicon-edit"></i> Editar datos personales </a>
				<a href="{% url 'ver_vehiculos_cliente' elemento.id %}"><i class="glyphicon glyphicon-eye-open"></i> Ver vehiculos </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock cuerpo %}